@using Vacancies.DAL.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Vacancy>

<div>
    @foreach (var vacancy in Model)
    {
        @Html.Partial("~/Views/Vacancies/Vacancy.cshtml", vacancy)

    }
</div>